# Node modules
/node_modules

# Compilation output
/dist

# pnpm deploy output
/bundle

# Hardhat Build Artifacts
/artifacts

# Hardhat compilation (v2) support directory
/cache

# Typechain output
/types

# Hardhat coverage reports
/coverage

# Environment variables
.env

# Trusted Setup Files
*.ptau
*.zkey

# Logs
*.log

# Word documents
*.docx

# Deployment addresses (optional, but good to ignore if local)
deployment-addresses.json
